:root {
    --background: #131316;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
    background-color: var(--background);
    color: #caf0f8;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 110vh;
    padding-bottom: 60px;
}

#landingCRow{
    display: grid;
    place-items: center;
    align-content: center;
}

/* Loading transition classes */
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}
.hidden1{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.hiddenH2{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hidden3,
.hidden4,
.hidden5{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.landing{
    font-size: 45px;
}

/* Jumbotron */
#about{
    background: var(--background);
}

#mtnImg{
    max-height: 600px;
    max-width: 450px;
}

.list-group{
    padding: 5px;
}

/* Projects */
.projectHeader{
    padding: 25px;
}

#buttonContainer{
    display: grid;
    place-items: center;
    align-content: center;
}

.workBtn{
    padding: 15px;
}

#projectRow{
    display: grid;
    place-items: center;
    align-content: center;
}
.projectImg{
    height: 420px;
    width: 750px;
}
/* Contact section */
#contact,
#proj{
    background-color: var(--background);
}

.contactLogos{
    max-height: 80px;
    max-width: 72px;
}
.githubLogo{
    height: 120px;
    width: 85px;
}